
.modal {

}

#background-div{
	position: fixed;
	background-color: rgba(135,135,135, 0.9);
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 75;
}

#intro-div{
	background-color: #fefefe;
	/*position: fixed;*/
	margin: 25% 10%;
	border: 3px solid #888;
	width: 80%;
	/*height: 35vh;*/
	z-index: 100;
	border-radius: 32px;
	box-shadow: 0 40px 80px 0 rgba(0,0,0,0.3), 0 60px 200px 0 rgba(0,0,0,0.19);
}

.username-input {
	padding: 2% 1%;
	width: 75%;
	margin: 4.7%;
}
input[type="text"] {
	font-size: 24px;
}

#intro-desc {
	font-size: 22px;
	padding: 5%;
}

#intro-button {
	border-radius: 24px;
	background-color: blue;
	border: none;
	color: white;
	width: 20%;
	padding: 4% 4% 4% 3%;
	margin-bottom: 2%;
}

.username-text {
	/*position: fixed;*/
	top: 40%;
	left: 40%;
	font-size: 2.5em;
	/*margin: -2% 0;*/
}