body{
  overflow: hidden;
}

.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
/*  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;*/
}

.App-title {
  font-size: 2.7em;
}

.App-intro {
  position: relative;
  font-size: 10.5em;
  top: -20%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
  background-color: #dce6f7;
}

.the-button {
  background-color: #f99d66;
  border-radius: 50%;
  padding: 20px;
  border-style: none;
  margin-top: 5%;
  margin-bottom: 5%;
  
  width: 128px;
  height: 128px;
}

.seconds{
/*  position: fixed;
  bottom: 5vh;

*/
  text-align: left;
  font-size: 0.8em;
}

.score-wrapper{
  /*position: fixed;*/
  border-radius: 50%;
  /* width: 45%;*/
  margin: 0 auto;
  /*text-align: justify;*/
  /*margin-top: 2%;*/
  background-color: rgba(167, 197, 249, 0.6);
  box-shadow: 0px 0px 12px orange;
  background-color: #f99d66;
  width: 196px;
/*  top: 50%;
  left: 50%;*/
/*  margin: 0 0 0 -98px*/;
  height: 196px;
}

.score-wrapper:hover {
  background-color: orange;
}

.user-area,
.leaderboard-area{
  display: flex;
  /*flex-direction: row;*/
  flex-direction: column;
/*  justify-content: space-around;*/
}

.left-column {
  flex-grow: 0.2;
  flex-shrink: 0.2;
}
.right-column{
  flex-grow: 1.2;
  margin-top: 5vh;
}

#socket-div{
  margin-top: 4%;
}

.top-area{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;
}

#empty-div{
  width: 11.3vw;
}

#instructions-align-div{
  position: relative;
  text-align: left;
  width: 65vw;
  margin: 1vh auto;
  /*margin-right: 0;*/
  margin-left: 35%;
}

.instructions-div{
  /*position:fixed;*/
  bottom: 10vh;
  left: 20vw;
  /*margin-top: 8vh;*/
}

.lookforward-span{
  font-size: 0.6em;
}

#still-to-come-div{
  margin-top: 20%;
  /* remove this for now, not really necessary*/
  display: none;
}

#share-div{
  text-align: left;
  margin-top: 20%;
  border-radius: 16px;
  /*border: solid black 1px;*/
  padding: 5%;
  background-color: #dce6f7;
  margin-right: 3%;
}

.versioning{
  position: relative;
  font-size: 0.74em;
  left: 32vw;
}

#versioning-div{
  background-color: #c5d8f9;
  position: fixed;
  bottom: 0;
  /*right: 5px;*/
  
  left: 0;
  height: 2.2vh;
  width: 100%;
}