
.leaderboard {
	/*border: 1px solid white;*/
	/*position: absolute;*/
	/*top: 2vh;
	left: 2vh;*/
	/*border: 1px solid black;*/
	margin-left: 1.5vw;
	background-color: #dce6f7;
	margin-top: 10px;
	border-radius: 16px;
	z-index: 50;
	width: 90%;
}

.score-text{
	border-radius: 50%;
	background-color: rgba(167, 197, 249, 0.6);
	color: #fff;

}

.user-row{
	/*background-color: rgba(0, 97, 0, 0.5);*/
	/*background-color: rgba(210, 220, 237, 1);*/
	border-radius: 24px;
}

#ad-left{

}

#ad-right{
	
}

#ad-banner{
	/* banner running across the page under button */
}

th{
  align-self: center;
/*  position: relative;
  left: 20%;*/
}
td{
  width: 90%;
}