/* for the share icons */

#fa-circle{

}

a,
a.active,
a:active,
a:focus,
a:hover {
  color: #18BC9C;
  outline: none; 
}

.btn-social {
  font-size: 20px;
  line-height: 45px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid white;
  border-radius: 100%; 
}

.btn-outline {
  font-size: 20px;
  margin-top: 15px;
  transition: all 0.3s ease-in-out;
  color: white;
  border: solid 2px white;
  background: transparent; 
}
.btn-outline.active, .btn-outline:active, .btn-outline:focus, .btn-outline:hover {
    color: #18BC9C;
    border: solid 2px white;
    background: white; 
}

.btn.active,
.btn:active,
.btn:focus {
  outline: none; 
}